input {
  padding: 10px;
  border: none
}

.form {
    width: 100%;
    margin: auto;
    margin-left: 22%;
}

.data {
    width: 59%;
    padding: 3%;
    margin: 2% 2% 2% 0;
    float: left;
	box-shadow: 2px 2px 4px 2px #e5e5e5;
}

.float-right {
    float: right;
}

.back {
    width: 1000px;
}
